/* 레이아웃 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
li {
    list-style: none;
}
a:link,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 0 #283744;
}

/* 배경 이미지 */
#ms1 {
    background-image: url("${pageContext.request.contextPath}../../../img/bg01.jpg");
}
#ms2 {
    background-image: url("${pageContext.request.contextPath}../../../img/bg02.jpg");
}
#ms3 {
    background-image: url("${pageContext.request.contextPath}../../../img/bg03.jpg");
}

/* 헤더 부분 */
nav {
    width: 100%;
    height: auto;
    background: #34495e;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
}
nav ul {
    display: none;
    height: auto;
}
nav ul li {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #576979;
}
nav ul li a {
    line-height: 50px;
}
nav a#trigger {
    display: block;
    background-color: #283744;
    width: 100%;
    padding-left: 15px;
    line-height: 60px;
    position: relative;
}
nav a#trigger::after {
    content: "";
    background: url("${pageContext.request.contextPath}../../../img/nav.png")
        no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 20px;
}
nav img {
    display: none;
}

@media screen and (min-width: 721px) {
    nav {
        height: 60px;
        border-bottom: 2px solid #34495e;
        overflow: hidden;
    }
    nav ul {
        display: block;
        width: 720px;
        height: 40px;
        padding: 0;
        margin: 0 auto;
        position: relative;
    }
    nav ul li {
        display: inline-block;
        width: 120px;
        border-bottom: 0;
        border-right: 1px solid #576979;
        margin-right: -6px;
    }
    nav ul li:last-child {
        border-right: 0;
    }
    nav ul li a {
        font-size: 1em;
        line-height: 60px;
    }
    nav a#trigger {
        display: none;
    }
}

table.type10 {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
}
table.type10 thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #e7708d;
  margin: 20px 10px;
  text-align: center;
}
table.type10 tbody th {
  width: 150px;
  padding: 10px;
  text-align: center;
}
table.type10 td {
  width: 850px;
  padding: 10px;
  vertical-align: top;
  text-align: center;
}
table.type10 .even {
  background: #fdf3f5;
}

#result {
	display: flex;
	justify-content: center;
}

select {
width: 100%;
padding: .8em .5em;
border: 1px solid #999;
font-family: inherit;
background: url('arrow.jpg') no-repeat 95% 50%;
border-radius: 0px;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
text-align: center;
text-align-last: center;
}

select::-ms-expand {
    display: none;
}